
.logout {
    position: fixed;
    top: 40px;
    right: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
    text-decoration: none;
    z-index: 10;

    &:hover {
        text-decoration: underline;
    }
}